# Virtualenv
.Python
bin
Scripts
lib
Lib
include
Include
pip-selfcheck.json

# Mac OS X custom attribute files
.DS_Store

#Python
*.pyc

#Sublime
*.sublime-project
*.sublime-workspace

# the build doc
_build

# node modules
node_modules
# server to serve the docs
server.js
*.sqlite